<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr">
    <meta charset="utf-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="Jupitara Ray, Personal Website"/>
    <meta name="keywords" content="Jupitara Ray, Jupitara Ray Boston University, Jupitara Ray Website, Jupitara Ray Research, Jupitara Ray Linguistics"/>
    <meta name="google-site-verification" content="JtlvfQWFyjuXm653trgBBnJe_vkWAC8n7XOZyNgN7hk" />
    {{- partial "head.html" . -}}
    <body>
      <div class="grid-container{{ if .Params.layout }} {{ .Params.layout }}{{ end }}{{ if .IsHome }} home{{ end }}">
        {{- block "header" . }}{{- partial "header.html" . -}}{{- end }}
        {{- block "main" . }}{{- end }}
        {{- block "footer" . }}{{- partial "footer.html" . -}}{{- end }}
      </div>
    </body>
</html>
